#aboutbox{
    display: flex;
    justify-content: center;
}
#aboutcontent{
    display: flex;
    flex-direction: row;
  }
#aboutimg{
    height: 600px;
    width: 500px;
    margin-left: 35px;
    margin-top: 20px;
    border: 2px solid #AD8B73;
    background-color: #F7E9D7;
}
#aboutbio{
    width: 700px;
    height: 600px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid #AD8B73;
}
#tech{
    width: 700px;
    height: 180px;
}
#techlist{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 500px;
    margin-left: 20px;
    justify-content: space-evenly;
    width: 700px;
  }
.techimg {
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    color:#AD8B73; 
    font-size: 24px;
    width: 170px;
    height: 40px;
} 
#techtitle{
    font-family: 'Ubuntu', sans-serif;
    color:  #AD8B73;
    text-align: center;
    font-size: 36px;
    position: relative;
}
#abouttitle{
    font-family: 'Ubuntu', sans-serif;
    color: #AD8B73;
    text-align: center;
    font-size: 36px;
    position: relative;
    top: 20px;
}
#aboutext{
    font-family: 'Ubuntu', sans-serif;
    color: #AD8B73;
    font-size: 48px;
    font-size: 24px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-indent: 15px;
    padding: 20px;
}
#aboutbottomcontent{
    height: 140px;
}
#connecttitle{
    font-family: 'Ubuntu', sans-serif;
    color: #AD8B73; 
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}
.connecttab{
    text-decoration: none;
    width: 150px;
}
.connecttab p{
    color: #AD8B73; 
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    margin-top: 20px;
}
.connecttab p:hover{
    color: #564539;
}
#connectlist{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    width: 700px;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) and (min-width: 550px) {
    .logobox{
        height: 150px;
        width: 300px;
    }
    .logo{
        font-size: 72px;
    }
    #aboutimg{
        display: none;
    }
    #aboutbox{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 549px) and (min-width: 320px){
    .logobox{
        height: 100px;
        width: 200px;
    }
    .logo{
        font-size: 48px;
    }
    .name{
        height: 40px;
        width: 230px;
    }
    .name p{
        font-size: 18px;
    }
    .navlinks{
        height: 30px;
    }
    .navlinks a{
        font-size: 24px;
    }
    #navbar{
        position: absolute;
        top: 0;
        margin-top: 0;
        right: 0%;
    }
    #bio{
        margin-top: 20px;
        height: 200px;
    }
    #bio2{
        height: 150px;
    }
    #bio3{
        display: none;
    }
    #bioimg{
        display: none;
    }
    #bioinfo{
        font-size: 24px;
        top: 10px;
    }
    .biobtn{
        width: 150px;
        height: 30px;
        left: 28%;
        top: 20px;
    }
    .biobtn a{
        font-size: 18px;
    }
    #biocityimg{
        display: none;
    }
    #projectstitlebox{
        left: 32%;
        width: 150px;
        height: 30px;
        margin: 0;
    }
    #projecttitle{
        font-size: 18px;
    }
    .projecttab img{
        height: 100px;
    }
    #seemore{
        width: 150px;
        height: 30px;
        left: 32%;
    }
    #seemore a{
        font-size: 18px;
    }
}